<?xml version="1.0"?>
<config>
  <modules>
    <Gimmie_WidgetPage>
      <version>1.0.0</version>
    </Gimmie_WidgetPage>
  </modules>
  
  <global>
  
    <events>
      <controller_front_init_before>
        <observers>
          <Gimmie_WidgetPage>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>captureReferral</method>
            <type>singleton</type>
          </Gimmie_WidgetPage>
        </observers>
      </controller_front_init_before>
    </events>

    <events>
      <customer_register_success>
        <observers>
          <Gimmie_WidgetPage>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>triggerReferral</method>
            <type>singleton</type>
          </Gimmie_WidgetPage>        
        </observers>
      </customer_register_success>
    </events>

    <events>
      <sales_order_save_commit_after>
        <observers>
          <Gimmie_WidgetPage>
            <type>model</type>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>giveoutPointsAndTriggerPurchased</method>
          </Gimmie_WidgetPage>
        </observers>
      </sales_order_save_commit_after>
    </events>

  </global>
  
  <frontend>
    
    <layout>
      <updates>
        <widget>
          <file>gimmie.xml</file>
        </widget>
      </updates>
    </layout>
    
  </frontend>
  
  <adminhtml>

    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        
        <admin>
          <children>
            <Gimmie_WidgetPage>
              <title>Gimmie_WidgetPage</title>
              <sort_order>10</sort_order>
            </Gimmie_WidgetPage>
          </children>
        </admin>

        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <Gimmie>
                      <title>Gimmie</title>
                    </Gimmie>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>

    </acl>

  </adminhtml>
  
  <global>
  
    <models>
      <Gimmie_WidgetPage>
        <class>Gimmie_WidgetPage_Model</class>
      </Gimmie_WidgetPage>
    </models>
    
  </global>

  <crontab>
    <jobs>
      <Gimmie_WidgetPage>
        <schedule> <cron_expr>00 00 1 * *</cron_expr></schedule>
        <run><model>Gimmie_WidgetPage/observer::monthTopSpender</model></run>
      </Gimmie_WidgetPage>

    </jobs>
  </crontab>

</config> 
