<?xml version="1.0"?>
<config>
  <modules>
    <Gimmie_WidgetPage>
      <version>1.0.8</version>
    </Gimmie_WidgetPage>
  </modules>

  <global>

    <events>
      <controller_action_layout_generate_blocks_after>
        <observers>
          <class>Gimmie_WidgetPage_Model_observer</class>
          <method>addContent</method>
          <type>singleton</type>
        </observers>
      </controller_action_layout_generate_blocks_after>

      <controller_front_init_before>
        <observers>
          <Gimmie_WidgetPage>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>captureReferral</method>
            <type>singleton</type>
          </Gimmie_WidgetPage>
        </observers>
      </controller_front_init_before>

      <customer_save_before>
        <observers>
          <Gimmie_WidgetPage>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>flagNewCustomer</method>
            <type>singleton</type>
          </Gimmie_WidgetPage>
        </observers>
      </customer_save_before>

      <customer_save_after>
        <observers>
          <Gimmie_WidgetPage>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>triggerReferral</method>
            <type>singleton</type>
          </Gimmie_WidgetPage>
        </observers>
      </customer_save_after>

      <customer_register_success>
        <observers>
          <Gimmie_WidgetPage>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>registerSuccess</method>
            <type>singleton</type>
          </Gimmie_WidgetPage>
        </observers>
      </customer_register_success>

      <customer_login>
        <observers>
          <Gimmie_WidgetPage>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>loginSuccess</method>
            <type>singleton</type>
          </Gimmie_WidgetPage>
        </observers>
      </customer_login>

      <sales_order_save_after>
        <observers>
          <Gimmie_WidgetPage>
            <type>singleton</type>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>giveoutPointsAndTriggerPurchased</method>
          </Gimmie_WidgetPage>
        </observers>
      </sales_order_save_after>

      <newsletter_subscriber_save_commit_after>
        <observers>
          <Gimmie_WidgetPage>
            <type>singleton</type>
            <class>Gimmie_WidgetPage_Model_observer</class>
            <method>subscribeNewsletter</method>
          </Gimmie_WidgetPage>
        </observers>
      </newsletter_subscriber_save_commit_after>
    </events>

    <models>
      <Gimmie_WidgetPage>
        <class>Gimmie_WidgetPage_Model</class>
      </Gimmie_WidgetPage>
    </models>

    <blocks>
      <widgetpage>
        <class>Gimmie_WidgetPage_Block</class>
      </widgetpage>
    </blocks>

  </global>

  <frontend>

    <routers>
      <widgetpage>
        <use>standard</use>
        <args>
          <module>Gimmie_WidgetPage</module>
          <frontName>gimmie</frontName>
        </args>
      </widgetpage>
    </routers>

    <layout>
      <updates>
        <widget>
          <file>gimmie.xml</file>
        </widget>
      </updates>
    </layout>

  </frontend>

  <adminhtml>

    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>

        <admin>
          <children>
            <Gimmie_WidgetPage>
              <title>Gimmie_WidgetPage</title>
              <sort_order>10</sort_order>
            </Gimmie_WidgetPage>
          </children>
        </admin>

        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <Gimmie>
                      <title>Gimmie</title>
                    </Gimmie>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>

    </acl>

  </adminhtml>

  <default>

    <Gimmie>
      <general>
        <gimmie_enable>0</gimmie_enable>
        <consumer_key></consumer_key>
        <secret_key></secret_key>
        <country>auto</country>
      </general>
      <views>
        <enable_top_links_menu>1</enable_top_links_menu>
        <top_link_menu_name>Rewards</top_link_menu_name>
        <catalog_view>1</catalog_view>
        <profile_view>1</profile_view>
        <leaderboard_view>1</leaderboard_view>
        <notification_timeout>10</notification_timeout>
        <hide_sponsor_here>0</hide_sponsor_here>
      </views>
      <points>
        <gimmie_trigger_top_spender_of_the_month>1</gimmie_trigger_top_spender_of_the_month>
        <gimmie_trigger_register_user>1</gimmie_trigger_register_user>
        <gimmie_trigger_login_user>1</gimmie_trigger_login_user>
        <gimmie_trigger_refer_a_friend>1</gimmie_trigger_refer_a_friend>
        <gimmie_trigger_purchase_item>1</gimmie_trigger_purchase_item>
        <gimmie_trigger_purchase_item_in_birthday_month>1</gimmie_trigger_purchase_item_in_birthday_month>
        <gimmie_trigger_subscribe_newsletter>1</gimmie_trigger_subscribe_newsletter>
      </points>
      <text_and_styles>
        <widget_text>
        <![CDATA[
"empty_reward"              : "There are no rewards in the catalog right now. Please check back again while we add more rewards.",
"loading_reward"            : "Loading Rewards",
"error"                     : "Something wrong, please close and open again later.",
"login_title_text"          : "Login/Sign up",
"login_subline"             : "to redeem rewards",
"login_headline"            : "<p>Please login or signup to</p><p>earn points and redeem rewards</p>",
"login_button"              : "Login/Signup <img data-src='{{root}}navigation-arrow.png'>",
"help_link"                 : "How do I earn points?",
"reward_tab_title"          : "Reward",
"reward_tab_profile"        : "Profile",
"reward_tab_leaderboard"    : "Leaderboard",
"points"                    : "points",
"loading"                   : "Loading",
"reached_highest_level"     : "Reached highest level",
"points_to_level"           : "points to Level",
"badges_title"              : "Badges",
"mayorships_title"          : "Mayorships",
"redemptions_title"         : "Redemptions",
"activities_title"          : "Activities",
"badge"                     : "Badge",
"mystery_badge"             : "Mystery Badge",
"expires"                   : "Expires",
"redeemed"                  : "Redeemed",
"expired"                   : "Expired",
"loading_activities"        : "Loading Activities",
"empty_activities"          : "<p>You don't have recent activities.</p><p>When you earn points, badges or rewards a log of activities is shown here.</p>",
"fully_redeemed"            : "FULLY REDEEMED",
"featured_reward"           : "FEATURED REWARD",
"sponsor_here"              : "<p>Want to list your reward here?</p><small>Click for details.</small>",
"back_to_catalog"           : "&laquo; All {{data.category_name}} Rewards",
"redeem_button"             : "Redeem with {{data.points}} pts",
"use_reward_now"            : "Use Reward Now",
"description"               : "Description",
"fineprint"                 : "Fine Print",
"user_points"               : "You have <span class=\"gimmie-user-points\">{{user.points}}</span> pts",
"see_all_redemptions"       : "See All Redemptions",
"havent_redeemed"           : "<p>You haven't redeemed any rewards.</p><p>View your redemptions here after redeeming a reward from the catalog.</p>",
"see_all_mayorships"        : "See All Mayorships",
"empty_mayorships"          : "<p>You don't have any mayorships</p><p>Mayorships are given to the most active user at specific venues in a period of 30 days</p>",
"see_all_badges"            : "See All Badges",
"loading_badges"            : "Loading Badges",
"empty_badges"              : "<p>You don't have any badges.</p><p>Badges are rewarded when you do centain actions.</p>",
"see_all_activities"        : "See All Activities",
"loading_recent_activities" : "Loading recent activities",
"all_time_points"           : "all-time points:",
"most_points"               : "Most Points",
"most_rewards"              : "Most Rewards",
"most_reward_value"         : "Most Reward Value",
"loading_leaderboard"       : "Loading Leaderboard"
        ]]>
        </widget_text>
      </text_and_styles>
    </Gimmie>

  </default>

  <crontab>
    <jobs>
      <Gimmie_WidgetPage>
        <schedule> <cron_expr>0 0 1 * *</cron_expr></schedule>
        <run><model>Gimmie_WidgetPage/observer::monthTopSpender</model></run>
      </Gimmie_WidgetPage>

    </jobs>
  </crontab>

</config>
