<config>
  <tabs>
    <gimmie>
      <label>Gimmie Rewards</label>
      <sort_order>5</sort_order>
    </gimmie>
  </tabs>

  <sections>
    <Gimmie translate="label">
      <label>Gimmie Rewards</label>
      <tab>gimmie</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>

      <groups>
        <general translate="label">
          <label>General Gimmie Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <fields>
            <gimmie_enable>
              <label>Enable Gimmie</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </gimmie_enable>

            <consumer_key>
              <label>Consumer Key</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </consumer_key>

            <secret_key>
              <label>Secret Key</label>
              <comment>
                <![CDATA[<a href="http://www.gimmieworld.com/sign-up" target="_blank">Signup here to get your own key and secret.</a>]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>2</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </secret_key>

            <country>
              <label>Country</label>
              <frontend_type>select</frontend_type>
              <source_model>Gimmie_WidgetPage/Source_Countries</source_model>
              <sort_order>4</sort_order>
              <show_in_default>2</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </country>

            <locale>
              <label>Locale</label>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>2</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </locale>

          </fields>

        </general>

        <views translate="label">
          <label>Gimmie Popup Views</label>
          <frontend_type>text</frontend_type>
          <sort_order>2</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <fields>

            <enable_top_links_menu>
              <label>Add Gimmie menu</label>
              <frontend_type>select</frontend_type>
              <comment>
                <![CDATA[This will add link to open Gimmie popup on the top]]>
              </comment>
              <sort_order>1</sort_order>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enable_top_links_menu>

            <top_link_menu_name>
              <label>Gimmie menu name</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </top_link_menu_name>

            <catalog_view>
              <label>Catalog View</label>
              <frontend_type>select</frontend_type>
              <sort_order>3</sort_order>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </catalog_view>
            <profile_view>
              <label>Profile View</label>
              <frontend_type>select</frontend_type>
              <sort_order>4</sort_order>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </profile_view>
            <leaderboard_view>
              <label>Leaderboard View</label>
              <frontend_type>select</frontend_type>
              <sort_order>5</sort_order>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </leaderboard_view>

            <notification_timeout>
              <label>Notification Timeout</label>
              <frontend_type>text</frontend_type>
              <comment>
                <![CDATA[This value is how long notification shows up when user has done something.]]>
              </comment>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </notification_timeout>

            <hide_sponsor_here>
              <label>Hide Sponsor Here</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </hide_sponsor_here>
          </fields>
        </views>

        <points translate="label">

          <label>Points and Event Triggers</label>

          <frontend_type>text</frontend_type>
          <sort_order>3</sort_order>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <fields>
            <purchase_exchange_dollar>
              <label>Purchase Amount</label>
              <comment>
                <![CDATA[Purchase amount that will convert to below points]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </purchase_exchange_dollar>

            <purchase_exchange_points>
              <label>Giving out points when purchase</label>
              <comment>
                <![CDATA[Number of points that gives out when user purchases above amount]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </purchase_exchange_points>


            <gimmie_trigger_top_spender_of_the_month>
              <label>Top spender event</label>
              <comment>
                <![CDATA[Every month, give out rewards(points/instant reward) to top spender]]>
              </comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>18</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </gimmie_trigger_top_spender_of_the_month>

            <gimmie_trigger_register_user>
              <label>User register event</label>
              <comment>
                <![CDATA[Give out points when user register]]>
              </comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>19</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </gimmie_trigger_register_user>

            <gimmie_trigger_login_user>
              <label>User login event</label>
              <comment>
                <![CDATA[Give out points when user login]]>
              </comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </gimmie_trigger_login_user>

            <gimmie_trigger_refer_a_friend>
              <label>Referral event</label>
              <comment>
                <![CDATA[Give out rewards when user invites friends]]>
              </comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </gimmie_trigger_refer_a_friend>


            <gimmie_trigger_purchase_item>
              <label>Purchases event</label>
              <comment>
                <![CDATA[Give out rewards when user purchases item]]>
              </comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>22</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </gimmie_trigger_purchase_item>

            <gimmie_trigger_purchase_item_in_birthday_month>
              <label>Birthday month event</label>
              <comment>
                <![CDATA[Give out rewards when user purchases in their birthday month]]>
              </comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>23</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </gimmie_trigger_purchase_item_in_birthday_month>
          </fields>

        </points>

        <text_and_styles translate="label">
          <label>Widget Text and Style</label>

          <frontend_type>text</frontend_type>
          <sort_order>4</sort_order>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <fields>
            <widget_text>
              <label>Widget Text</label>
              <comment>
                <![CDATA[Change text after `:` only]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </widget_text>

            <widget_help>
              <label>Widget Help Information</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </widget_help>

            <widget_help_url>
              <label>Widget Help URL</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </widget_help_url>

            <widget_style>
              <label>Widget Stylesheets</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </widget_style>

            <widget_terms_and_conditions>
              <label>Widget Terms and Conditions</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </widget_terms_and_conditions>
          </fields>
        </text_and_styles>

      </groups>

    </Gimmie>
  </sections>
</config>
