<?xml version="1.0"?>
<config>
  <modules>
    <Gimmie_Customerpage>
      <version>0.4.0</version>
    </Gimmie_Customerpage>
  </modules>
  <global>
  
    <events>
      <controller_front_init_before>
        <observers>
          <Gimmie_Customerpage>
            <class>Gimmie_Customerpage_Model_observer</class>
            <method>captureReferral</method>
            <type>singleton</type>
          </Gimmie_Customerpage>
        </observers>
      </controller_front_init_before>
    </events>

    <events>
      <customer_register_success>
        <observers>
          <Gimmie_Customerpage>
            <class>Gimmie_Customerpage_Model_observer</class>
            <method>triggerReferral</method>
            <type>singleton</type>
          </Gimmie_Customerpage>        
        </observers>
      </customer_register_success>
    </events>

    <events>
      <sales_order_save_commit_after>
        <observers>
          <myPurchasePoint>
            <type>model</type>
            <class>Gimmie_Customerpage_Model_Observer</class>
            <method>giveoutPointsAndTriggerPurchased</method>
          </myPurchasePoint>
        </observers>
      </sales_order_save_commit_after>
    </events>

  </global>
  
  <frontend>
  
    <blocks>
      <customerpage>
        <class>Gimmie_Customerpage_Block</class>
      </customerpage>
    </blocks>

    <routers>
      <customerpage>
        <use>standard</use>
        <args>
          <module>Gimmie_Customerpage</module>
          <frontName>gimmie</frontName>
        </args>
      </customerpage>
    </routers>
    
    <layout>
      <updates>
        <customerpage>
          <file>gimmie.xml</file>
        </customerpage>
      </updates>
    </layout>
  </frontend>
  
  <adminhtml>

    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        
        <admin>
          <children>
            <Gimmie_Customerpage>
              <title>Gimmie_Customerpage</title>
              <sort_order>10</sort_order>
            </Gimmie_Customerpage>
          </children>
        </admin>

        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <Gimmie>
                      <title>Gimmie</title>
                    </Gimmie>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>

    </acl>

  </adminhtml>
  
  <global>
  
    <models>
      <Gimmie_Customerpage>
        <class>Gimmie_Customerpage_Model</class>
      </Gimmie_Customerpage>
    </models>
    
  </global>

  <crontab>
    <jobs>
      <Gimmie_Customerpage>
        <schedule> <cron_expr>00 00 1 * *</cron_expr></schedule>
        <run><model>Gimmie_Customerpage/observer::monthTopSpender</model></run>
      </Gimmie_Customerpage>

    </jobs>
  </crontab>




</config> 
